In [5]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [37]:
import pandas as pd

# Referenceï¼šhttps://www.investopedia.com/ask/answers/08/find-stocks-in-sp500.asp
top10_list = ["AAPL", "MSFT", "AMZN", "TSLA", "GOOGL", "GOOG", "NVDA", "BRK.B", "FB", "UNH"]

AAPL_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/823/data/AAPL.csv', 
                      names=['', 'data_date', 'AAPL_open', 'AAPL_high', 'AAPL_low', 'AAPL_close', 'AAPL_adj_close', 'AAPL_volume', 'AAPL_dividend_amount', 'AAPL_split_coefficient'], 
                      usecols=['data_date', 'AAPL_open', 'AAPL_high', 'AAPL_low', 'AAPL_close', 'AAPL_adj_close', 'AAPL_volume', 'AAPL_dividend_amount', 'AAPL_split_coefficient'], 
                      header=0,
                      index_col=False)

MSFT_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/823/data/MSFT.csv', 
                      names=['', 'data_date', 'MSFT_open', 'MSFT_high', 'MSFT_low', 'MSFT_close', 'MSFT_adj_close', 'MSFT_volume', 'MSFT_dividend_amount', 'MSFT_split_coefficient'], 
                      usecols=['data_date', 'MSFT_open', 'MSFT_high', 'MSFT_low', 'MSFT_close', 'MSFT_adj_close', 'MSFT_volume', 'MSFT_dividend_amount', 'MSFT_split_coefficient'], 
                      header=0,
                      index_col=False)

AMZN_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/823/data/AMZN.csv', 
                      names=['', 'data_date', 'AMZN_open', 'AMZN_high', 'AMZN_low', 'AMZN_close', 'AMZN_adj_close', 'AMZN_volume', 'AMZN_dividend_amount', 'AMZN_split_coefficient'], 
                      usecols=['data_date', 'AMZN_open', 'AMZN_high', 'AMZN_low', 'AMZN_close', 'AMZN_adj_close', 'AMZN_volume', 'AMZN_dividend_amount', 'AMZN_split_coefficient'], 
                      header=0,
                      index_col=False)

TSLA_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/823/data/TSLA.csv', 
                      names=['', 'data_date', 'TSLA_open', 'TSLA_high', 'TSLA_low', 'TSLA_close', 'TSLA_adj_close', 'TSLA_volume', 'TSLA_dividend_amount', 'TSLA_split_coefficient'], 
                      usecols=['data_date', 'TSLA_open', 'TSLA_high', 'TSLA_low', 'TSLA_close', 'TSLA_adj_close', 'TSLA_volume', 'TSLA_dividend_amount', 'TSLA_split_coefficient'],                       
                      header=0,
                      index_col=False)

GOOGL_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/823/data/GOOGL.csv', 
                      names=['', 'data_date', 'GOOGL_open', 'GOOGL_high', 'GOOGL_low', 'GOOGL_close', 'GOOGL_adj_close', 'GOOGL_volume', 'GOOGL_dividend_amount', 'GOOGL_split_coefficient'], 
                      usecols=['data_date', 'GOOGL_open', 'GOOGL_high', 'GOOGL_low', 'GOOGL_close', 'GOOGL_adj_close', 'GOOGL_volume', 'GOOGL_dividend_amount', 'GOOGL_split_coefficient'], 
                      header=0,
                      index_col=False)

GOOG_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/823/data/GOOG.csv', 
                      names=['', 'data_date', 'GOOG_open', 'GOOG_high', 'GOOG_low', 'GOOG_close', 'GOOG_adj_close', 'GOOG_volume', 'GOOG_dividend_amount', 'GOOG_split_coefficient'], 
                      usecols=['data_date', 'GOOG_open', 'GOOG_high', 'GOOG_low', 'GOOG_close', 'GOOG_adj_close', 'GOOG_volume', 'GOOG_dividend_amount', 'GOOG_split_coefficient'], 
                      header=0,
                      index_col=False)

NVDA_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/823/data/NVDA.csv', 
                      names=['', 'data_date', 'NVDA_open', 'NVDA_high', 'NVDA_low', 'NVDA_close', 'NVDA_adj_close', 'NVDA_volume', 'NVDA_dividend_amount', 'NVDA_split_coefficient'], 
                      usecols=['data_date', 'NVDA_open', 'NVDA_high', 'NVDA_low', 'NVDA_close', 'NVDA_adj_close', 'NVDA_volume', 'NVDA_dividend_amount', 'NVDA_split_coefficient'], 
                      header=0,
                      index_col=False)

BRK_B_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/823/data/BRK.B.csv', 
                      names=['', 'data_date', 'BRK_B_open', 'BRK_B_high', 'BRK_B_low', 'BRK_B_close', 'BRK_B_adj_close', 'BRK_B_volume', 'BRK_B_dividend_amount', 'BRK_B_split_coefficient'], 
                      usecols=['data_date', 'BRK_B_open', 'BRK_B_high', 'BRK_B_low', 'BRK_B_close', 'BRK_B_adj_close', 'BRK_B_volume', 'BRK_B_dividend_amount', 'BRK_B_split_coefficient'], 
                      header=0,
                      index_col=False)

FB_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/823/data/FB.csv', 
                    names=['', 'data_date', 'FB_open', 'FB_high', 'FB_low', 'FB_close', 'FB_adj_close', 'FB_volume', 'FB_dividend_amount', 'FB_split_coefficient'], 
                    usecols=['data_date', 'FB_open', 'FB_high', 'FB_low', 'FB_close', 'FB_adj_close', 'FB_volume', 'FB_dividend_amount', 'FB_split_coefficient'], 
                    header=0,
                    index_col=False)

UNH_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/823/data/UNH.csv', 
                     names=['', 'data_date', 'UNH_open', 'UNH_high', 'UNH_low', 'UNH_close', 'UNH_adj_close', 'UNH_volume', 'UNH_dividend_amount', 'UNH_split_coefficient'], 
                     usecols=['data_date', 'UNH_open', 'UNH_high', 'UNH_low', 'UNH_close', 'UNH_adj_close', 'UNH_volume', 'UNH_dividend_amount', 'UNH_split_coefficient'], 
                     header=0,
                     index_col=False)

In [40]:
AAPL_df.head()

,data_date,MSFT_open,MSFT_high,MSFT_low,MSFT_close,MSFT_adj_close,MSFT_volume,MSFT_dividend_amount,MSFT_split_coefficient
0,1999-11-01,93.25,94.19,92.12,92.37,29.160702,26630600.0,0.0,1.0
1,1999-11-02,92.75,94.50,91.94,92.56,29.220684,23174500.0,0.0,1.0
2,1999-11-03,92.94,93.50,91.50,92.00,29.043895,22258500.0,0.0,1.0
3,1999-11-04,92.31,92.75,90.31,91.75,28.964972,27119700.0,0.0,1.0
4,1999-11-05,91.81,92.87,90.50,91.56,28.904990,35083700.0,0.0,1.0

In [41]:
MSFT_df.head()

,data_date,MSFT_open,MSFT_high,MSFT_low,MSFT_close,MSFT_adj_close,MSFT_volume,MSFT_dividend_amount,MSFT_split_coefficient
0,1999-11-01,93.25,94.19,92.12,92.37,29.160702,26630600.0,0.0,1.0
1,1999-11-02,92.75,94.50,91.94,92.56,29.220684,23174500.0,0.0,1.0
2,1999-11-03,92.94,93.50,91.50,92.00,29.043895,22258500.0,0.0,1.0
3,1999-11-04,92.31,92.75,90.31,91.75,28.964972,27119700.0,0.0,1.0
4,1999-11-05,91.81,92.87,90.50,91.56,28.904990,35083700.0,0.0,1.0

In [42]:
AMZN_df.head()

,data_date,AMZN_open,AMZN_high,AMZN_low,AMZN_close,AMZN_adj_close,AMZN_volume,AMZN_dividend_amount,AMZN_split_coefficient
0,1999-11-01,68.06,71.88,66.31,69.13,69.13,12824100.0,0.0,1.0
1,1999-11-02,69.75,70.00,65.06,66.44,66.44,13243200.0,0.0,1.0
2,1999-11-03,68.19,68.50,65.00,65.81,65.81,10772100.0,0.0,1.0
3,1999-11-04,67.19,67.19,61.00,63.06,63.06,16759200.0,0.0,1.0
4,1999-11-05,64.75,65.50,62.25,64.94,64.94,11091400.0,0.0,1.0

In [43]:
TSLA_df.head()

,data_date,TSLA_open,TSLA_high,TSLA_low,TSLA_close,TSLA_adj_close,TSLA_volume,TSLA_dividend_amount,TSLA_split_coefficient
0,2010-06-29,19.00,25.0000,17.54,23.89,4.778,18766300.0,0.0,1.0
1,2010-06-30,25.79,30.4192,23.30,23.83,4.766,17187100.0,0.0,1.0
2,2010-07-01,25.00,25.9200,20.27,21.96,4.392,8218800.0,0.0,1.0
3,2010-07-02,23.00,23.1000,18.71,19.20,3.840,5139800.0,0.0,1.0
4,2010-07-06,20.00,20.0000,15.83,16.11,3.222,6866900.0,0.0,1.0

In [44]:
GOOGL_df.head()

,data_date,GOOGL_open,GOOGL_high,GOOGL_low,GOOGL_close,GOOGL_adj_close,GOOGL_volume,GOOGL_dividend_amount,GOOGL_split_coefficient
0,2004-08-19,100.01,104.06,95.96,100.335,50.322842,44659000.0,0.0,1.0
1,2004-08-20,101.01,109.08,100.50,108.310,54.322689,22834300.0,0.0,1.0
2,2004-08-23,110.76,113.48,109.05,109.400,54.869377,18256100.0,0.0,1.0
3,2004-08-24,111.24,111.60,103.57,104.870,52.597363,15247300.0,0.0,1.0
4,2004-08-25,104.76,108.00,103.88,106.000,53.164113,9188600.0,0.0,1.0

In [45]:
GOOG_df.head()

,data_date,GOOG_open,GOOG_high,GOOG_low,GOOG_close,GOOG_adj_close,GOOG_volume,GOOG_dividend_amount,GOOG_split_coefficient
0,2014-03-27,568.000,568.00,552.92,558.46,558.46,13100.0,0.0,1.0
1,2014-03-28,561.200,566.43,558.67,559.99,559.99,41100.0,0.0,1.0
2,2014-03-31,566.890,567.00,556.93,556.97,556.97,10800.0,0.0,1.0
3,2014-04-01,558.710,568.45,558.71,567.16,567.16,7900.0,0.0,1.0
4,2014-04-02,565.106,604.83,562.19,567.00,567.00,146700.0,0.0,1.0

In [46]:
NVDA_df.head()

,data_date,NVDA_open,NVDA_high,NVDA_low,NVDA_close,NVDA_adj_close,NVDA_volume,NVDA_dividend_amount,NVDA_split_coefficient
0,1999-11-01,21.75,24.38,21.75,23.50,0.449716,1630300.0,0.0,1.0
1,1999-11-02,23.94,25.13,23.75,25.00,0.478421,1744800.0,0.0,1.0
2,1999-11-03,26.00,28.13,25.81,27.44,0.525115,4191000.0,0.0,1.0
3,1999-11-04,27.75,29.94,27.75,29.19,0.558604,2625700.0,0.0,1.0
4,1999-11-05,30.00,30.25,26.88,28.25,0.540616,1284100.0,0.0,1.0

In [47]:
BRK_B_df.head()

,data_date,BRK_B_open,BRK_B_high,BRK_B_low,BRK_B_close,BRK_B_adj_close,BRK_B_volume,BRK_B_dividend_amount,BRK_B_split_coefficient
0,1999-11-01,2140.0,2170.0,2063.0,2087.0,41.74,21600.0,0.0,1.0
1,1999-11-02,2099.0,2181.0,2099.0,2141.0,42.82,18200.0,0.0,1.0
2,1999-11-03,2146.0,2187.0,2141.0,2153.0,43.06,16000.0,0.0,1.0
3,1999-11-04,2163.0,2194.0,2149.0,2163.0,43.26,9800.0,0.0,1.0
4,1999-11-05,2210.0,2219.0,2116.0,2131.0,42.62,9400.0,0.0,1.0

In [48]:
FB_df.head()

,data_date,FB_open,FB_high,FB_low,FB_close,FB_adj_close,FB_volume,FB_dividend_amount,FB_split_coefficient
0,2012-05-18,42.05,45.00,38.00,38.2318,38.2318,573576400.0,0.0,1.0
1,2012-05-21,36.53,36.66,33.00,34.0300,34.0300,168192700.0,0.0,1.0
2,2012-05-22,32.61,33.59,30.94,31.0000,31.0000,101786600.0,0.0,1.0
3,2012-05-23,31.37,32.50,31.36,32.0000,32.0000,73600000.0,0.0,1.0
4,2012-05-24,32.95,33.21,31.77,33.0300,33.0300,50237200.0,0.0,1.0

In [49]:
UNH_df.head()

,data_date,UNH_open,UNH_high,UNH_low,UNH_close,UNH_adj_close,UNH_volume,UNH_dividend_amount,UNH_split_coefficient
0,1999-11-01,53.00,54.94,52.00,52.19,5.397298,1236500.0,0.0,1.0
1,1999-11-02,54.88,55.94,53.75,55.31,5.719957,3101500.0,0.0,1.0
2,1999-11-03,55.06,55.06,52.50,52.94,5.474860,2002800.0,0.0,1.0
3,1999-11-04,52.75,53.50,51.44,52.00,5.377649,1290100.0,0.0,1.0
4,1999-11-05,52.50,53.06,52.44,52.56,5.435562,724600.0,0.0,1.0

# 1. Get the Dataset for Top 10 holdings in S&P 500

In [62]:
result_df = pd.merge(AAPL_df, MSFT_df, on ='data_date')
result_df = pd.merge(result_df, AMZN_df, on ='data_date')
result_df = pd.merge(result_df, TSLA_df, on ='data_date')
result_df = pd.merge(result_df, GOOGL_df, on ='data_date')
result_df = pd.merge(result_df, GOOG_df, on ='data_date')
result_df = pd.merge(result_df, NVDA_df, on ='data_date')
result_df = pd.merge(result_df, BRK_B_df, on ='data_date')
result_df = pd.merge(result_df, FB_df, on ='data_date')
result_df = pd.merge(result_df, UNH_df, on ='data_date')

In [65]:
result_df.head()

,data_date,AAPL_open,AAPL_high,AAPL_low,AAPL_close,AAPL_adj_close,AAPL_volume,AAPL_dividend_amount,AAPL_split_coefficient,MSFT_open,...,FB_dividend_amount,FB_split_coefficient,UNH_open,UNH_high,UNH_low,UNH_close,UNH_adj_close,UNH_volume,UNH_dividend_amount,UNH_split_coefficient
0,2014-03-27,540.015,541.5000,535.1201,537.46,17.099063,7929700.0,0.0,1.0,39.74,...,0.0,1.0,81.58,81.9000,80.78,81.02,71.577427,5453900.0,0.0,1.0
1,2014-03-28,538.320,538.9399,534.2500,536.86,17.079974,7163000.0,0.0,1.0,39.79,...,0.0,1.0,81.40,82.3499,81.26,81.62,72.107500,4787400.0,0.0,1.0
2,2014-03-31,539.230,540.8100,535.9300,536.74,17.076156,6023900.0,0.0,1.0,40.43,...,0.0,1.0,82.08,82.2700,81.41,81.99,72.434378,3513700.0,0.0,1.0
3,2014-04-01,537.760,541.8700,536.7700,541.65,17.232366,7170000.0,0.0,1.0,41.15,...,0.0,1.0,82.35,83.0500,81.58,81.84,72.301860,4339800.0,0.0,1.0
4,2014-04-02,542.380,543.4800,540.2600,542.55,17.260999,6443600.0,0.0,1.0,41.44,...,0.0,1.0,81.54,81.7400,81.27,81.61,72.098665,3832100.0,0.0,1.0

In [66]:
result_df.shape

(2032, 81)

In [73]:
SP500_df = pd.read_csv('/content/drive/My Drive/Colab Notebooks/823/data/S&P500_Apr_2022.csv',                       
                      names=['data_date', 'SP500_high', 'SP500_low', 'SP500_open', 'SP500_close', 'SP500_volume', 'SP500_adj_close'], 
                      usecols=['data_date', 'SP500_high', 'SP500_low', 'SP500_open', 'SP500_close', 'SP500_volume', 'SP500_adj_close'], 
                      header=0,
                      index_col=False)

In [74]:
SP500_df.head()

,data_date,SP500_high,SP500_low,SP500_open,SP500_close,SP500_volume,SP500_adj_close
0,1999-11-01,1367.300049,1354.050049,1362.930054,1354.119995,861000000,1354.119995
1,1999-11-02,1369.319946,1346.410034,1354.119995,1347.739990,904500000,1347.739990
2,1999-11-03,1360.329956,1347.739990,1347.739990,1354.930054,914400000,1354.930054
3,1999-11-04,1369.410034,1354.930054,1354.930054,1362.640015,981700000,1362.640015
4,1999-11-05,1387.479980,1362.640015,1362.640015,1370.229980,1007300000,1370.229980

In [75]:
result_df = pd.merge(result_df, SP500_df, on ='data_date')

In [76]:
result_df.head()

,data_date,AAPL_open,AAPL_high,AAPL_low,AAPL_close,AAPL_adj_close,AAPL_volume,AAPL_dividend_amount,AAPL_split_coefficient,MSFT_open,...,UNH_adj_close,UNH_volume,UNH_dividend_amount,UNH_split_coefficient,SP500_high,SP500_low,SP500_open,SP500_close,SP500_volume,SP500_adj_close
0,2014-03-27,540.015,541.5000,535.1201,537.46,17.099063,7929700.0,0.0,1.0,39.74,...,71.577427,5453900.0,0.0,1.0,1855.550049,1842.109985,1852.109985,1849.040039,3733430000,1849.040039
1,2014-03-28,538.320,538.9399,534.2500,536.86,17.079974,7163000.0,0.0,1.0,39.79,...,72.107500,4787400.0,0.0,1.0,1866.630005,1850.069946,1850.069946,1857.619995,2955520000,1857.619995
2,2014-03-31,539.230,540.8100,535.9300,536.74,17.076156,6023900.0,0.0,1.0,40.43,...,72.434378,3513700.0,0.0,1.0,1875.180054,1859.160034,1859.160034,1872.339966,3274300000,1872.339966
3,2014-04-01,537.760,541.8700,536.7700,541.65,17.232366,7170000.0,0.0,1.0,41.15,...,72.301860,4339800.0,0.0,1.0,1885.839966,1873.959961,1873.959961,1885.520020,3336190000,1885.520020
4,2014-04-02,542.380,543.4800,540.2600,542.55,17.260999,6443600.0,0.0,1.0,41.44,...,72.098665,3832100.0,0.0,1.0,1893.170044,1883.790039,1886.609985,1890.900024,3131660000,1890.900024

Save the result set for further use

In [77]:
path = '/content/drive/My Drive/Colab Notebooks/823/data/Dateset_Apr_2022.csv'
result_df.to_csv(index=False)
with open(path, 'a', encoding = 'utf-8-sig') as f:
  result_df.to_csv(f)

# 2. Combine the Dateset with "ATR"

In [ ]:
TA1 = talib.ATR(result_df['SP500_high'], 
                       result_df['SP500_low'], 
                       result_df['SP500_close'], 
                       timeperiod=14)
TA1

# 3. Combine the Dateset with "Bollinger Bands"

In [ ]:
## Bollinger Bonds

upperband, middleband, lowerband = talib.BBANDS(
                                        result_df['SP500_close'], 
                                        timeperiod=5, 
                                        nbdevup=2, 
                                        nbdevdn=2, 
                                        matype=0)

upperband, middleband, lowerband

In [ ]:
BollingerBond_SP500 = pd.DataFrame({
    'Upperband': upperband,
    'Middleband': middleband,
    'Lowerband': lowerband
})

In [ ]:
BollingerBond_SP500.shape